/* header */
.header {    
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }
  
  .container {
    display: inline-block
  } 
  
/* Page Content */
.content {padding:20px;}
